#cart{
	font-size: calcPixel(37.5);
	font-weight: 300;
	.title_cart{
		h6{
			font-size: calcPixel(66.5);
			color: $berry;
            font-weight: 500;
		}
	}
	.products{
		color: #000000;
		font-weight: normal;
		table{
			border-top: 1px solid gray;
			border-bottom: 1px solid gray;
		}
		 th{
		 	font-weight: 300;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: calcPixel(111);
		  	letter-spacing: normal;
		 }
		 tr{
			border-bottom: 1px solid gray;
             font-weight: 300;
		 }

	}
	.button{
        margin-top: calcPixel(50);
		.continue_buy{
			border: none;
			float: left;
			background-color: gray;
            color:white;
        }
		.pay{
            float: right;
            border: none;
            padding-right: calcPixel(15);
            padding-left: calcPixel(15);
            &:hover{
                color:white;
            }
        }
	}

    .shipping{
        select{
            width: 100%;
        }
    }
    .discount{
        .code{
            input{
                width: 80%;
            }
            .button{
                margin-top: calcPixel(32);
            }
        }
    }


}
.fee{
    .row{
        border-top: 1px solid gray;
        line-height: calcPixel(105);
        .value{
            text-align: right;
        }
    }
}
.button_berry{
    background-color: $berry;
    border: none;
    color:white;
}
.tab{
    margin-top: calcPixel(56);
    border: 2px solid $berry;
    padding: calcPixel(39) calcPixel(44) calcPixel(55) calcPixel(37);
}
.title_cart{
    h6{
        font-size: calcPixel(66.5);
        color: $berry;
    }
}
button{
    font-weight: 300;
}
select{
    font-weight: 300;
}
