#collections_page{
    .title{
        font-weight: 500;
    }
    .collections{
        .collection{
            border-top: 2px solid $berry;
            margin-bottom: calcPixel(70);
            .title_collection{
                font-size: calcPixel(79);
                font-weight: 300 !important;
                line-height: calcPixel(200);
                letter-spacing: 4px;
                text-align: center;
            }
            .content{
                font-size: calcPixel(40);
                margin-bottom: calcPixel(50);
                font-weight: 300 !important;
            }
        }
    }
}
