#news{
    padding: 0 calcPixel(215);
    margin-top: calcPixel(45);
    .title{
        font-size: calcPixel(70);
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $berry;
        border-bottom: 2px solid $berry;
    }
    .news{
        .col_new{
            padding: calcPixel(25);
        }
        .new{
            padding: 0;
            border: 1px solid $berry;
            .image{
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .content{
                padding: calcPixel(27) calcPixel(18);
            }
            .title{
                font-size: calcPixel(37.5);
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                margin-top: calcPixel(27);
                border-bottom: none;
            }
            .created{
                margin-top: calcPixel(27);
                font-family: Montserrat;
                font-size: calcPixel(23);
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: $berry;
            }
            .description{
                margin-top: calcPixel(45);
                font-family: Montserrat;
                font-size: calcPixel(29);
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: $berry;
            }
        }
    }
    .news_right{
        .news{
            margin: 0;
            .new{

                .title{
                    margin-top: 0;
                    font-size: calcPixel(25);
                }
                border: none;
            }
        }
        .col_new{
            padding-bottom: 0;
            padding-top: calcPixel(30);
            border-bottom: 1px $berry solid;
            &:nth-child(2n -1) {
                padding-left: 0;
            }
            &:nth-child(2n) {
                padding-right: 0;
            }
        }
    }
    .title_new{
        font-size: calcPixel(79);
        color: $berry;
        font-weight: 500;
        margin-bottom: calcPixel(63);
    }
    .new{
        .content_detail{
            img{
                width: 100%;
                height: 100%;
            }
            font-size: calcPixel(37.5);
            font-weight: 300;
            border-bottom: 1px solid $berry;
            padding-bottom: calcPixel(41);
        }

    }
    .tags{
        margin-top: calcPixel(33);
        .tag{
            font-size: calcPixel(37.5);
            font-weight: 300;
            margin-right: calcPixel(36);
            color: #231f20;
        }
    }
    .related_news{
        .title{
            border-bottom: none;
            line-height: calcPixel(110);
        }
        margin-top: calcPixel(84);
        .related_new{
            border-top: 1px solid $berry;
            border-bottom: 1px solid $berry;
            padding: calcPixel(60) 0;
            .new{
                margin-bottom: calcPixel(20);
                img{
                    width: 100%;
                }
                .title_new{
                    font-size: calcPixel(37.5);
                }
            }
        }
    }

}
