#payment{
    font-size: calcPixel(37.5);
    font-weight: 300;
    .button{
        margin-top: calcPixel(50);
        button{
            padding: calcPixel(5) calcPixel(58);
            float: right;
        }
    }
    .content{
        padding: 0;
        ul{
            font-size: calcPixel(46);
            border-bottom: 2px solid $berry;
            li{
                width: 25%;
                text-align: center;
                a{
                    line-height: calcPixel(96);
                    color:#000000;
                    font-weight:300;
                    text-decoration: none;
                }
            }
            .active{
                a{
                    color: #ffffff;
                    font-weight:300;
                    text-decoration: none;
                }
                background-color: $berry;
            }
        }
        .tab-content{
            padding: calcPixel(44);
            .tab-pane{
                transition: 0.4s !important;
            }
            input{
                height: calcPixel(58);
                font-size: calcPixel(29);
            }
        }
        .shipping{
            margin-top: calcPixel(50);
            .info{
                margin-top: calcPixel(50);
            }
        }
        #address{
            .form-group{
                margin-top: calcPixel(30);
            }
            input{
                height: calcPixel(58);
            }
        }
        label{
            font-weight: 400 !important;
        }
        #shipping{
            .shipping_tab{
                margin-top: calcPixel(41);
                label{
                    font-weight: 400;
                }
                input{
                    width: calcPixel(44);
                    height: calcPixel(44);
                    margin-top:5px;
                }
                textarea{
                    width: 100%;
                    border:1px #778899a8 solid;
                }
            }
            .button{
                padding-top: calcPixel(247);
                padding-bottom: calcPixel(60);
            }
        }
        #payments_tab{
            line-height: normal;
            font-size: calcPixel(37.5);
            font-weight: 300;
            img{
                width: 100%;
            }
            label{
                font-weight: bold;
                margin-top: calcPixel(30);
            }
            .content_3{
                .col-md-4{
                    .content{
                        padding: calcPixel(21);
                        background-color: #80808026;
                        height:90%;
                        label{
                            margin: 0;
                            height: 8.5rem;
                        }
                        .description{
                            margin-top: calcPixel(20);
                        }
                    }
                    .note{
                        height: 16%;
                        margin: 0;
                        vertical-align: middle;
                        background-color: #8080805e;
                        font-size: calcPixel(33);
                        display: table;
                        width: 100%;
                        font-weight: 500;
                        line-height: 100%;

                        div{
                            display: table-cell; vertical-align: middle;
                            padding: 0;
                            input{
                                font-size: calcPixel(44);
                            }
                        }
                        .input{
                            padding: 0 calcPixel(15) !important;
                        }
                    }
                }
            }

            .content_4{
                margin-top: calcPixel(77);
                textarea{
                    border-color: darkgray;
                }
            }
        }
        #confirm{
            font-weight: 300 !important;

            .font-weight-bold{
                font-weight: 400 !important;
            }
            .font-weight-light{
                font-weight: 300 !important;
            }
            tr{
                line-height: calcPixel(83)
            }
        }

    }


}
textarea {
    resize: none;
}

