#products{
    margin-top: calcPixel(100);
    padding-left: calcPixel(190);
    .title{
        font-weight: 500;
    }
    .product{
        max-width: 25%;
        height: calcPixel(511);
        padding: calcPixel(28) calcPixel(38);

        .content{
            &:hover{
                border: 1px $berry solid;
                .image{
                    opacity: 0.5;
                }
                .buy_now {
                    transition: 0.4s;
                    display: block;
                }
            }
            padding: calcPixel(28);
            height: 100%;
            position: relative;
            .image{
                height: 70%;
                width: 100%;
                padding-bottom: 9.4%;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .buy_now{
                width: 70%;
                height: calcPixel(58);
                line-height: calcPixel(58);
                position: absolute;
                margin: auto;
                z-index: 10;
                background-color: $berry;
                top: 30%;
                left: 14%;
                text-align: center;
                font-size: calcPixel(37.5);
                color: white;
                font-weight: 300;
                display: none;
            }
            .text{
                height: 30%;
                margin-top: calcPixel(30);
                .name{
                    width: 100%;
                    font-size: calcPixel(35.5);
                    line-height: normal;
                    overflow: hidden;
                    text-align: center;
                    color: #000000;
                }
                .price{
                    font-size: calcPixel(35.5);
                    text-align: center;
                    font-weight: 400;
                    color: #000000;
                }
            }
        }
    }
    .filter{
        font-size: calcPixel(25);
        input{
            width: calcPixel(39);
            border: none;
        }
        .cate{
            margin-top: calcPixel(60);
        }
        .title_filter{
            font-size: calcPixel(50);
            color: #000000;
            border-bottom: calcPixel(5) solid $berry;
        }
        .title_filter_1{
            font-size: calcPixel(45);
            color: #000000;
            font-weight: 400;
        }
        .price_filter_1{
            div{
                span{
                    font-size: calcPixel(37);
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000000;
                    font-family: Montserrat;
                }
            }
        }
        .categories{
            padding-left: calcPixel(40);
            .category{
                line-height: calcPixel(70);
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                font-size: calcPixel(41.5);
            }
        }
        .colors{
            .row{
                margin: 0;
            }
            .color{
                background-color: #1f6fb2;
                width: calcPixel(81);
                height: calcPixel(81);
                float:left;
                margin-right: calcPixel(10);
                margin-bottom: calcPixel(10);
                border:1px solid #77889930;
            }
        }
        .sizes{
            .size div{
                width: calcPixel(81);
                height: calcPixel(81);
                line-height: calcPixel(81);
                float: left;
                margin-right: calcPixel(10);
                margin-bottom: calcPixel(10);
                border: 1px solid #494f5459;
                text-align: center;
                font-weight: 300;
                font-size: calcPixel(45);
            }
        }
    }
}
