#product{
    margin-top: calcPixel(140);
    padding: 0 calcPixel(194);
    font-weight: 300!important;
    .image{
        height: calcPixel(745);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .info{
        .title_product{
            font-size: calcPixel(79);
            font-weight: 500;
            color: $berry;
        }
        .inventory_status{
            margin-top: calcPixel(33);
            font-size: calcPixel(41.5);
            color: #000000;
        }
        .price{
            margin-top: calcPixel(33);
            color: $berry;
            font-size: calcPixel(41.5);
        }
        .sizes{
            margin: 0;
            margin-top: calcPixel(33);
            .text{
                font-size: calcPixel(41.5);
                border: none;
                float: left;
            }
            .size{
                div{
                    width: calcPixel(68);
                    height: calcPixel(68);
                    line-height: calcPixel(68);
                    margin-left: calcPixel(18);
                    text-align: center;
                    font-size: calcPixel(37.5);
                    float:left;
                    border: 1px solid gray;
                }
                float: left;
            }
        }
        .quantity{
            margin-top: calcPixel(33);
            span{
                font-size: calcPixel(41.5);
            }
        }
        .button{
            button{
                height: calcPixel(65);
                background-color: $berry;
                line-height: calcPixel(65);
                font-size: calcPixel(46);
                font-weight: 100;
                border: none;
                color: white;
                margin-right: calcPixel(50);
            }
            margin-top: calcPixel(33);
        }
    }
    .related_products{
        width: calcPixel(2460);
        height: calcPixel(1127);
        margin: calcPixel(144) 0;
        border: 2px solid $berry;
        .title{
            font-size: calcPixel(79);
            font-weight: 500;
        }
        .products{
            width: 100%;
            margin: calcPixel(100) 0 0;
            overflow: hidden;
            .product{
                width:25%;
                float: left;
                padding: 0 calcPixel(85);
                .image{
                    width: 100%;
                    height: calcPixel(394);
                    img{
                        width: 100%;
                    }
                }
                .name{
                    margin-top: calcPixel(80);
                    font-size: calcPixel(48);
                    overflow: hidden;
                    color:#000000;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    text-align: center;
                    letter-spacing: normal;
                }
                .price{
                    margin-top: calcPixel(28);
                    font-size: calcPixel(48);
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #000000;
                }
            }
        }
        .pagination{
            height: auto;
            margin-top: calcPixel(55);
            margin-left: calcPixel(1000);
            .page{
                width: calcPixel(47);
                height: calcPixel(47);
                border: 1px solid $berry;
                border-radius: 50%;
                margin: 0 calcPixel(5);

            }
            .active{
                background-color: $berry;
            }
            text-align: center;
        }
    }
}
