#sale_product{
    padding: 0 calcPixel(170);
    .title{
        margin: calcPixel(114) 0 calcPixel(104) 0;
        width: 100%;
        text-align: center;
        height: calcPixel(86);
        font-size: calcPixel(79);
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $berry;
    }
    .products{
        max-width: 20%;
        padding: 0 calcPixel(45);
    }
    .product{
        width: 100%;
        float: left;
        height: calcPixel(566);
        margin:0 calcPixel(45);
        padding: 0;
        position: relative;
        &:hover{
            border: 1px solid $berry;
            .image{
                opacity: 0.5;
            }
            .buy_now{
                display: block;
            }
        }
        .buy_now{
            width: 70%;
            height: calcPixel(58);
            line-height: calcPixel(58);
            position: absolute;
            margin: auto;
            z-index: 10;
            background-color: $berry;
            top: 30%;
            left: 14%;
            text-align: center;
            font-size: calcPixel(37.5);
            color: white;
            display: none;
        }
        .image{
            height: calcPixel(400);
            padding: calcPixel(78) calcPixel(51) calcPixel(21) calcPixel(51);
            img{
                width: 100%;
                height: 100%;
            }
            position: relative;

            .sale{
                background-color: $berry;
                font-family: Montserrat;
                font-size: calcPixel(31.5);
                width: calcPixel(80);
                height: calcPixel(77);line-height: calcPixel(80);
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                opacity: 1;
                text-align: left;
                position: absolute;
                top: calcPixel(25);
                left: calcPixel(35);
                color: #ffffff;
            }
        }
        .content{
            height: calcPixel(163);
            padding: calcPixel(25) calcPixel(27);
            .name{
                width: 100%;
                height: calcPixel(35.5);
                font-family: Montserrat;
                font-size: calcPixel(35.5);
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color:$berry;
                text-transform: uppercase;
                overflow: hidden;
            }
            .price{
                font-size: calcPixel(33);
                margin-top: calcPixel(22);
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                font-weight: 300;
                text-align: left;
                padding: 0 calcPixel(27);
                .current_price{
                    color: #afafaf;
                    text-decoration: line-through;
                }
                .sale_price{
                    color: #000000;
                }
                div{
                    padding: 0;
                }
            }

        }
    }

}
