// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 7;
$line-height-base: 1.6;
$height-category: 3rem;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$zune-background: #7d1017;
$berry: #7d1017;
@function calcPixel($int) {
    @return ($int*1400)/(2849*$font-size-base)+rem;
}

