// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//@font-face {
//    font-family: 'Montserrat';
//    src: url(/resources/font/montserrat);
//}

// Variables
@import 'variables';
@import '_cart';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '_sale.scss';
@import '_payment.scss';
@import '_products.scss';
@import '_product.scss';
@import '_news.scss';
@import '_about_us.scss';
@import '_collections.scss';
@media (min-width: 768px) and (max-width: 1400px) {
    html {
        font-size: 10px;
    }
}
@media all and (max-width: 2500px) {
    html {
        font-size: 7px;
    }
}
html{
    font-family: 'Montserrat';
}
a{
    text-decoration: none !important;
    &:hover{
        text-decoration: none;
    }
}
input[type=checkbox] {
    border-radius:0 !important;
    color:#FFF;
    width:15px;
    height:15px;
}

button {
   font-weight: 300 !important;
}


#header {
    height: calcPixel(1370);
    width: 100%;
    background-color: $zune-background;
    .logo{
        height: calcPixel(200);
        background: #ffffff;
    }
    .category{
        height: calcPixel(114);
        .zuna-text{
            font-family: Montserrat;
            font-size: calcPixel(28);
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: calcPixel(114);
            letter-spacing: normal;
            color: #ffffff;
        }
        .all_items{
            position: relative;
            &:hover{
                .categories{
                    display: block;
                    transition: 0.4s;
                }
            }
            .categories{
                position: absolute;
                top: calcPixel(114);
                border-top: 1px solid white;
                transition: 0.4s;
                display: none;
                z-index: 1000;
                background-color: $berry;
                padding: 0 calcPixel(32);
                .cate{
                    text-align: left;
                    line-height: calcPixel(67);
                }
            }
        }
    }
    .slide{
        height: calcPixel(1055);
        padding:0 calcPixel(40);
        .image{
            width: 24%;
            height: 100%;
            float: left;
            margin-right: 1%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .slide_layout{
        position: relative;
        width: 100%;
        height: 100%;
        .layout_berry{
            position: absolute;
            top:0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background-color: #7d101763;
        }
    }
    .cart{
        span{
            font-size: 18px !important;
        }
    }
}

#colections{
    margin-bottom:calcPixel(40);
    .images{
        height: calcPixel(1407);
        .image{
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
            position:relative;
            .new_collection{
                width: 58%;
                padding: calcPixel(20) 0;
                height: calcPixel(169);
                background: #ffffff;
                opacity: 0.6;
                position:absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                margin: auto;
                .name{
                    font-size: calcPixel(27);
                    color: #000000;
                }
                .title{
                    font-family: Montserrat;
                    font-size: calcPixel(34);
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #000000;
                }
                .line{
                    background: $berry;
                    height: calcPixel(3);
                    margin-top:calcPixel(15);
                    width: 60%;
                    margin-left:20%;
                }
            }
        }
    }
}

.title{
    text-align: center;
    font-size: calcPixel(79);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: calcPixel(166);
    letter-spacing: normal;
    color: $berry;
}
#videos{
    padding: 0 calcPixel(132) calcPixel(72) calcPixel(132);
    background: #1b1e21;
    margin-bottom: calcPixel(63);
    video{
        width: 100%;
        height: 100%;
        border: solid 4px #ffffff;
    }
}

#lookbook{
    margin-bottom: calcPixel(580);
    background: #1b1e21;
    height: calcPixel(822);
    .lookbook{
        position: absolute;
        width: 100%;
        margin-top: calcPixel(70px);
        margin-bottom: calcPixel(62px);
        .content{
            color: #ffffff;
            padding: 0 25%;
            font-family: Montserrat;
            font-size: calcPixel(29);
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
        }
    }
    .images{
        height: calcPixel(786);
        padding: 0 calcPixel(194);
        position: relative;
        top:calcPixel(410);
        .image{
            height: 100%;
            width: 31%;
            float: left;
            margin-right: 2%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

#about{
    padding: calcPixel(85) calcPixel(194);
    background: #1b1e21;
    height: 98rem;
    width: 100%;
    .container-fluid{
        height: 100%;
    }
    .title{
        border-bottom: 2px $berry solid;
        text-align:left;
        margin: calcPixel(120) calcPixel(50) calcPixel(31) 0;
        span{
            line-height: calcPixel(100);
        }
    }
    .row{
        height:100%;
        .images{
            width: 100%;
            height: 100%;
            position: relative;
            .image_small{
                position: absolute;
                top: 0;
                left: 0;
                width: 45%;
                height: 70%;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .image_big{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 70%;
                height: 85%;
                z-index: 1;
                text-align: right;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            img{
                width: 100%;
                max-height: 100%;
            }
        }
    }
    .content{
        color: #ffffff;
        font-weight: 300;
        font-size: calcPixel(29);
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        font-style: normal;
        text-align: left;
    }
}
#footer{
    background: #1b1e21;
    color: #ffffff;
    height: calcPixel(554);
    margin-top: calcPixel(99);
    .row{
        padding: calcPixel(110) calcPixel(231) calcPixel(91) calcPixel(231);
        .logo{
            width: 30%;
            text-align: center;
            img{
                width: calcPixel(384);
                height: calcPixel(263);
            }
        }
        .social{
            width: 30%;
            .icon{
                div{
                    float:left;
                    font-size: calcPixel(55);
                    margin-right: 6.5rem;
                }
            }
        }
        .title_footer{
            margin-bottom: calcPixel(20);
            span{
                color: $berry;
                font-size: calcPixel(55);
                font-weight: 600;
                border-bottom: 0.3rem solid $berry;
            }
        }
        .contact{
            width: 40%;
            .address{
                span{
                    font-size: calcPixel(27);
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: calcPixel(40);
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    i{
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

}

